<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>活动展示</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/images/style.css">
</head>

<include file="Public:header"/>

<div class="link_1" style="background:#bee9fb">
     <div class="dt_left">
         <div class="dt_left_menu">
             <ul>
                 <li><a href="">幼儿教育</a></li>
                 <li><a href="">幼儿教育</a></li>
                 <li><a href="">幼儿教育</a></li>
                 <li><a href="">幼儿教育</a></li>
             </ul>
         </div>
         <div class="dt_left_ph">
             <div class="dt_left_ph_menu"><img src="__PUBLIC__/Home/images/ph.png">浏览排行</div>
             <div class="dt_left_ph_font">
               <ul>
                  <li><a href="">· “为涉案青少年重建心灵家</a></li>
                  <li><a href="">·  帮孩子卸下心头的重量</a></li>
                  <li><a href="">· 财富不该成为子女成长的</a></li>
                  <li><a href="">· “为涉案青少年重建心灵家</a></li>
                  <li><a href="">· “为涉案青少年重建心灵</a></li>
               </ul>
             </div>
         </div>
     </div>

     <div class="dt_right">
        <img src="__PUBLIC__/Home/images/fmkt.gif">
        <div class="dt_right_font">
           <ul>
              <li><a href="#">赣榆一中张定军老师发明创造获国家专利</a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">罗阳小学开展“我们与梦想同行”主题教 </a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">赣榆县金山中学举行2013中考誓师大</a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">灌南县花园小学：举行“拒吸第一支烟 </a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">和平路小学：“和谐互助”英语课改实验</a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">海头二小端午假期开展“啄木鸟行动”规</a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">赣榆清华园双语学校：多方协助做好学生</a><span>[2014-11-10 16:05:00]</span></li> 
              <li><a href="#">赣榆一中张定军老师发明创造获国家专利</a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">罗阳小学开展“我们与梦想同行”主题教 </a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">赣榆县金山中学举行2013中考誓师大</a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">灌南县花园小学：举行“拒吸第一支烟 </a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">和平路小学：“和谐互助”英语课改实验</a><span>[2014-11-10 16:05:00]</span></li>
              <li><a href="#">海头二小端午假期开展“啄木鸟行动”规</a><span>[2014-11-10 16:05:00]</span></li>
           </ul>
        </div>
        <div class="feny">
 每页18篇/共14331篇  当前页次1/797页  首页 | 上页 | <a href=index.asp?1=1&page=2>下页</a> | <a href=index.asp?1=1&page=797>尾页</a> | 转到<input type="text" name="page" id="page" size="4" value=1 />页  <input type="button" name="go" id="go" value="GO" onclick="jumpurl();" />
        </div>
     </div>

</div>
<!---->
<div class="bot">
   版权所有：太仓市教育局苏ICP备05026727号<br>
   技术支持：太仓市教师发展中心信息处  网站投稿信箱：tcsxxb@szedu.com<br>
   Copyright@http://www.tcedu.com.cn all rights reserved
</div>
</body>
</html>
