<div class="am-cf admin-main">
<!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list am-pagination" >
        <li><a href="{: U('Index/index',array('type0'=>'首页','type1'=>'中心动态')) }"><span class="am-icon-home"></span>中心动态</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 学生作品 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in am-pagination" id="collapse-nav">

						<li><a href="{: U('Index/index',array('type0'=>'学生作品','type1'=>'作文写作')) }"><span
								class="am-icon-tag"></span> 作文写作</a></li>
						<li><a href="{: U('Index/index',array('type0'=>'学生作品','type1'=>'美术音乐')) }"><span
								class="am-icon-tag"></span> 美术音乐</a></li>
						<li><a href="{: U('Index/index',array('type0'=>'学生作品','type1'=>'动手实践')) }"><span
								class="am-icon-tag"></span> 动手实践</a></li>
					</ul>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-university"></span> 教育培训 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in am-pagination" id="collapse-nav1">

						<li><a href="{: U('Index/index',array('type0'=>'教育培训','type1'=>'分校教育')) }"><span
								class="am-icon-puzzle-piece"></span> 分校教育</a></li>
						<li><a href="{: U('Index/index',array('type0'=>'教育培训','type1'=>'家庭教育')) }"><span
								class="am-icon-puzzle-piece"></span> 家庭教育</a></li>
						<li><a href="{: U('Index/index',array('type0'=>'教育培训','type1'=>'其他')) }"><span
								class="am-icon-puzzle-piece"></span>其他</a></li>
					</ul>
        </li>
        <li><a href="{: U('Show/index',array('type0'=>'首页','type1'=>'活动展示')) }"><span class="am-icon-table"></span> 活动展示</a></li>
        <li><a href="{: U('Show/index',array('type0'=>'首页','type1'=>'荣誉展示')) }"><span class="am-icon-pencil-square-o"></span> 荣誉展示</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 当前系统时间</p>
          <p><?php echo date('Y-m-d H:i:s',time());?></p>
          
        </div>
      </div>

    </div>
  </div>
  <!-- sidebar end -->
 <!-- content start -->
  <div class="admin-content">
