
<body>
<div class="top"></div>
<div id="link">
        	<ul>
            	<li><a href="{:U('Index/index')}"> 首页 </a> </li>
                <li class="line"> | </li>
                <li><a href="{:U('Zxjs/index')}">中心介绍</a></li>
                <li class="line"> | </li>
                <li><a href="{:U('Jypx/index')}">教育培训</a></li>
                <li class="line"> | </li>
                <li><a href="{:U('Hdkx/index')}">活动快线</a></li>
                <li class="line"> | </li>
                <li><a href="{:U('Xszp/index')}">学生作品</a></li>
                <li class="line"> | </li>
                <li><a href="{:U('Ryzs/index')}">荣誉展示</a></li>
                <li class="line"> | </li>
                <li><a href="{:U('Hdzs/index')}">活动展示</a></li>
                <li class="line"> | </li>
                <li><a href="{:U('Jzfk/index')}">家长反馈</a></li>
                <li class="line"> | </li>
                <li><a href="{:U('Esjz/index')}">二十九中</a></li>
                <li class="line"> | </li>
            </ul>
           <div><span><a href="{:U('Admin/Public/login')}">管理员登陆</a></span></div> 
</div>
