<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>太仓网上家长学校首页</title>
<link rel="stylesheet" type="text/css" href="images/style.css">
</head>

<body>
<div class="top"></div>
<div id="link">
        	<ul>
            	<li><a href="index.html"> 首页 </a> </li>
                <li class="line">|</li>
                <li><a href="jydt.html">教育动态</a></li>
                <li class="line">|</li>
                <li><a href="jyfg.html">教育法规</a></li>
                <li class="line">|</li>
                <li><a href="jyal.html">教育案例</a></li>
                <li class="line">|</li>
                <li><a href="fmkt.html">父母课堂</a></li>
                <li class="line">|</li>
                <li><a href="tszy.html">特色资源</a></li>
                <li class="line">|</li>
                <li><a href="yxzp.html">优秀作品推荐</a></li>
                <li class="line">|</li>
                <li><a href="czzj.html">成长足迹</a></li>
                <li class="line">|</li>
                <li><a href="zjzx.html">专家在线</a></li>
                <li class="line">|</li>
                <li><a href="fxlj.html">分校链接</a></li>
            </ul>
</div>

<div class="link_1">
   <div class="picBox">
      <div class="picBox_img"><img src="images/tp.png"></div>
      <div class="picBox_font">
          <div class="picBox_font_menu"><span>教育动态</span><a href="">更多</a></div>
           <ul>
              <li><a href="#">赣榆一中张定军老师发明创造获国家专利</a><span>[2012-04-04]</span></li>
              <li><a href="#">罗阳小学开展“我们与梦想同行”主题教 </a><span>[2012-04-04]</span></li>
              <li><a href="#">赣榆县金山中学举行2013中考誓师大</a><span>[2012-04-04]</span></li>
              <li><a href="#">灌南县花园小学：举行“拒吸第一支烟 </a><span>[2012-04-04]</span></li>
              <li><a href="#">和平路小学：“和谐互助”英语课改实验</a><span>[2012-04-04]</span></li>
              <li><a href="#">海头二小端午假期开展“啄木鸟行动”规</a><span>[2012-04-04]</span></li>
              <li><a href="#">赣榆清华园双语学校：多方协助做好学生</a><span>[2012-04-04]</span></li>
           </ul> 
      </div>
   </div>
   <div class="gongg">
       <div class="gongg_top"><img src="images/icon.png">网校公告</div>
          <marquee onMouseOver="this.stop()"  onmouseout="this.start()" height="190px"scrollamount="2"  direction="up">
          <ul>
             <li><a href="#">关于在全市开展关爱儿童慈善公益募捐活动的通知凝聚每份爱，温暖颗颗心</a></li>
             <li><a href="#">省儿基会代表处募捐倡议书</a></li>
             <li><a href="#">关于在全市开展关爱儿童慈善公益募捐活动的通知凝聚每份爱，温暖颗颗心</a></li>
             <li><a href="#">省儿基会代表处募捐倡议书</a></li>
          </ul></marquee>
   </div>
</div>

 <div class="classroom">
    <div class="classroom_menu"><div class="classroom_img"><img src="images/icon0.png">父母课堂</div></div>
    <div class="classroom_left">
        <div class="classroom_left_font">
        <img src="images/xx.png">
        <div class="classroom_left_wx">
            <span>幼儿阶段</span><a href="">更多>> </a>
            <div class="classroom_left_wx_a">
                 <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                 </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="classroom_left">
        <div class="classroom_left_font">
        <img src="images/xxs.png">
        <div class="classroom_left_wx">
            <span>小学阶段</span><a href="">更多>> </a>
            <div class="classroom_left_wx_a">
                 <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                 </ul>
            </div>
        </div>
        </div>
    </div>    
    <div class="classroom_left_r">
        <div class="classroom_left_font">
        <img src="images/zxs.png">
        <div class="classroom_left_wx">
            <span>高中阶段</span><a href="">更多>> </a>
            <div class="classroom_left_wx_a">
                 <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                 </ul>
            </div>
        </div>
        </div>
    </div>    
</div>

<!---->
<div class="jyal">
    <div class="jyal_menu"><div class="jyal_img"><img src="images/icon0.png">教育案例</div></div>
    <div class="jyal_font">
        <div class="jyal_font_menu"><span>分校教育案例</span><a href="">更多>> </a></div>
        <div class="jyal_font_menu_a">
            <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
            </ul>
        </div>
    </div>
    
   <div class="jyal_font">
        <div class="jyal_font_menu"><span>家庭教育案例</span><a href="">更多>> </a></div>
        <div class="jyal_font_menu_a">
            <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
            </ul>
        </div>
    </div>    
    
    <div class="jyal_font">
        <div class="jyal_font_menu"><span>其它案例</span><a href="">更多>> </a></div>
        <div class="jyal_font_menu_a">
            <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
            </ul>
        </div>
    </div>    
    
    
</div>
<!---->
<div class="jyal">
    <div class="jyal_menu"><div class="jyal_img"><img src="images/icon0.png">成长足迹</div></div>
    <div class="jyal_font">
        <div class="jyal_font_menu"><span>优秀美术作品 </span><a href="">更多>> </a></div>
        <div class="jyal_font_menu_a">
            <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
            </ul>
        </div>
    </div>
    
   <div class="jyal_font">
        <div class="jyal_font_menu"><span>优秀作文</span><a href="">更多>> </a></div>
        <div class="jyal_font_menu_a">
            <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
            </ul>
        </div>
    </div>    
    
    <div class="jyal_font">
        <div class="jyal_font_menu"><span>优秀视频 </span><a href="">更多>> </a></div>
        <div class="jyal_font_menu_a">
            <ul>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
            </ul>
        </div>
    </div>    
    
</div>
<!---->
<div class="work">
   <div class="work_menu"><div class="work_img"><img src="images/icon0.png">优秀作品推荐</div></div>
   <div class="work_a">
       <ul>
                     <li><a href="">·"少年心事当拿云"——第六届秋季校</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·"少年心事当拿云"——第六届秋季校</a></li>
                     <li><a href="">·探寻血液王国奥秘 聆听院士成长之路</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·"少年心事当拿云"——第六届秋季校</a></li>
                     <li><a href="">·探寻血液王国奥秘 聆听院士成长之路</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·探寻血液王国奥秘 聆听院士成长之路</a></li>
                     <li><a href="">·家长课堂：制定家规要避免的四大</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·探寻血液王国奥秘 聆听院士成长之路</a></li>
                     <li><a href="">·幼小衔接：上学前孩子必备四素质</a></li>
                     <li><a href="">·探寻血液王国奥秘 聆听院士成长之路</a></li>
       </ul>
   </div>
</div>
<!---->
<div class="fxlj">
   <div class="fxlj_menu"><div class="fxlj_img"><img src="images/icon0.png">分校链接</div></div>
   <div class="fxlj_a">
       <ul>
          <li><a href="">太仓市教师发展中心</a></li>
          <li><a href="">太仓市青少年活动中心</a></li>
          <li><a href="">江苏省太仓市中等专业学校</a></li>
          <li><a href="">江苏省沙溪高级中学</a></li>
          <li><a href="">太仓市明德高级中学</a></li>
          <li><a href="">太仓市新区中学</a></li>
          <li><a href="">太仓市教师发展中心</a></li>
          <li><a href="">太仓市青少年活动中心</a></li>
          <li><a href="">江苏省太仓市中等专业学校</a></li>
          <li><a href="">江苏省沙溪高级中学</a></li>
          <li><a href="">太仓市明德高级中学</a></li>
          <li><a href="">太仓市新区中学</a></li>
          <li><a href="">太仓市教师发展中心</a></li>
          <li><a href="">太仓市青少年活动中心</a></li>
          <li><a href="">江苏省太仓市中等专业学校</a></li>
          <li><a href="">江苏省沙溪高级中学</a></li>
          <li><a href="">太仓市明德高级中学</a></li>
          <li><a href="">太仓市新区中学</a></li>
       </ul>
   </div>
</div>
<!---->
<div class="bot">
   版权所有：太仓市教育局苏ICP备05026727号<br>
   技术支持：太仓市教师发展中心信息处  网站投稿信箱：tcsxxb@szedu.com<br>
   Copyright@http://www.tcedu.com.cn all rights reserved
</div>
</body>
</html>
